FIREFOX_DRIVER_PATH='<path to geckodriver on your OS>'

SOCIAL_NETWORK_HOST='http://127.0.0.1'
SOCIAL_NETWORK_PORT='5000'

SOCIAL_NETWORK_LOGIN='Autouser'
SOCIAL_NETWORK_EMAIL='autouser@gmail.com'
SOCIAL_NETWORK_PASSWORD='autouser'
SOCIAL_NETWORK_FIRSTNAME='Ivan'
SOCIAL_NETWORK_LASTNAME='Ivanov'